<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Sort</title>
</head>
<body>
    <h2>Choose the sort algorithm, load txt file with integers and then press 'Sort' button</h2>

    <h2>{{ note }}</h2>

    <form enctype="multipart/form-data" action="{% url 'index' %}" method="post">
        {% csrf_token %}
        {{ sortform }}
        <input type="submit" value="Sort">
    </form>
    <h3>Sorted integers are {{ form }}</h3>
</body>
</html>